
/* put this on the button to make the popover position correctly */
.context-menu {
    position: relative;
}

.context-menu.active {
    opacity: 1;
    pointer-events: all;
}


/* the actual context menu */
.context-menu-popover {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
    background-color: var(--white);
    border: solid 1px rgba(105,112,125, 0.1);
    border-radius: 5px;
    
    padding: 3px 0;

    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15),
                0 0 24px rgb(0 0 0 / 6%);
    opacity: 0;
    pointer-events: none;
    z-index: 999;

    transform: translateY(-2%);
    transition: opacity 0.1s ease-out, transform 0.1s ease-out;
    

    .item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: 500;

        padding: 3px;
        padding-left: 5px;
        
        margin-left: 3px;
        margin-right: 3px;
        gap: 5px;
        border-radius: 3px;

        transition: background-color 0.1s ease-out;

        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: auto;
            aspect-ratio: 1;

            margin-right: 2px;

            & span {
                color: #444;
                font-size: 19px;
            }

        }

        .text {
            font-size: 13px;
            color: #333;
            white-space: nowrap;
            padding-right: 2rem;
        }

        .arrow {
            margin-left: auto;

            & span {
                color: #777;
                font-size: 14px;
            }
        }

    }

    .item:hover {
        background-color: #f1f2f4;
        transition: background-color 0.05s ease-out;
    }

    .item:active {
        background-color: #dcdfe4;
        transition: background-color 0.05s ease-out;
    }

    .item:last-child {
        border-bottom: none;
    }

    .item.disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    .item.disabled:hover {
        background-color: transparent;
    }

    .item.state-selector {
        position: relative;

        .submenu {
            position: absolute;
            top: -1px;
            left: 100%;
            display: flex;
            flex-direction: column;
            gap: 4px;

            background-color: var(--white);
            border: solid 1px rgba(105,112,125, 0.1);
            border-radius: 5px;

            padding: 3px 0;

            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15),
                        0 0 24px rgb(0 0 0 / 6%);
            opacity: 0;
            pointer-events: none;
            z-index: 999;

            transform: translateY(-2%);
            transition: opacity 0.1s ease-out, transform 0.1s ease-out;
        }
        .menu-left {
            left: -85%;
        }

        .left{
            left: -87%;
        }

        .not-started-state {
            background-color: var(--not-started-status-cell);
            padding: 2px;
        }

        .not-started-state:hover {
            background-color: var(--not-started-status-cell-hover);
        }

        .in-progress-state {
            background-color: var(--in-progress-status-cell);
            padding: 2px;
        }

        .in-progress-state:hover {
            background-color: var(--in-progress-status-cell-hover);
        }

        .finished-state {
            background-color: var(--finished-status-cell);
            padding: 2px;
        }

        .finished-state:hover {
            background-color: var(--finished-status-cell-hover);
        }
        
    }

    .item:has(.submenu):hover {
        .submenu {
            opacity: 1;
            pointer-events: all;
            transform: translateX(0%);
        }
    }

    .divider {
        height: 1px;
        background-color: #dddddd;
        margin-top: 5px;
        margin-bottom: 5px;
    }

}

.context-menu-popover.visible {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0%);
}

.context-menu-popover.above {
    top: auto;
    bottom: calc(100% + 5px);
    transform: translateY(2%);
}

.context-menu-popover.above.visible {
    transform: translateY(0%);
}



