.dropdown {
    position:relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 32px;

    background-color: white;
    color: #333;
    font-weight: 600;
    font-size: 14px;

    border-radius: 3px;
    border: solid 2px #dcdfe4;
    cursor: pointer;

    transition: background-color 0.1s ease-out;
}

.dropdown:hover  {
    border-color: #0066ff77;
    background-color: #f1f2f4;
    transition: background-color 0.1s ease-out, border-color 0.1s ease-out;
}

.dropdown:active {
    background-color: #dcdfe4;
}

.dropdown-text {
    color: inherit;
    background-color: transparent;

    margin: 2px 10px;
    margin-right: 4px;
    user-select: none;

    white-space: nowrap;
    line-height: 1.2;

}

.dropdown-chevron {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 8px;
    width: 16px;
    height: auto;

    user-select: none;
    color: #84868a;

    & span {
        font-size: 20px;
    }
    
}

.dropdown-list {
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    gap: 0.25rem;
    color: inherit;
    background-color: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin: 2px 8px;
}

.dropdown-option {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 32px;
    color: #172b4d;
    font-weight: 600;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
    white-space: nowrap;

    padding-left: 6px;
    padding-right: 6px;

    user-select: none;

    transition: background-color 0.1s ease-out;
}

.dropdown-option:hover  {
    background-color: #f1f2f4;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: calc(100% + 4px);
    left: 0;

    color: inherit;
    background-color: white;
    
    border-radius: 5px;
    border: solid 1px #dcdfe4;

    padding: 4px;
    flex-direction: column;
    gap: 0.25rem;

    box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 2px 4px rgba(16,22,26,.2);

}

.dropdown.open .dropdown-menu {
    display: flex;
}

.dropdown.open .dropdown-list {
    display: flex;
}

