.popover-menu {
    position: relative;
}

.notification-popover {
    position: relative;
}

.popover-content {
    position: absolute;
    top: 50px;
    right: 1px;
    width: 400px;
    background-color: #fff;
    border: solid 1px rgba(105, 112, 125, 0.1);
    border-radius: 4px;
    padding: 10px;
    padding-top: 0;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    z-index: 999;

    transform: translateX(-2%);
    transition: opacity 0.1s ease-out, transform 0.1s ease-out;
    & a {
        text-decoration: none;
        color: black;
    }


    .title {
        font-weight: 700;
        padding: 5px;
    }

    .content {
        max-height: 360px;
        overflow-y: scroll;
        width: 100%;
        display: flex;
        flex-direction: column;

        &::-webkit-scrollbar-track {
            background-color: white;
        }

    }
}

.notification-popover:focus .popover-content {
    display: block;
    pointer-events: auto;
    opacity: 1;
    transform: translateX(0);
}

.notification-card {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;

    font-size: 14px;

    border-bottom: 1px solid #dddddd;

    transition: background-color 0.1s ease-out;

    .arrow {
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: auto;
        aspect-ratio: 1;

        & span {
            display: none;
            font-size: 18px;
            color: #666;
        }
    }

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: auto;
        aspect-ratio: 1;

        & span {
            color: #333;
            font-size: 24px;
        }

    }

    .name-card {
        padding-left: 0;
    }

}

.notification-card:hover {
    cursor: pointer;
    background-color: #f1f2f4;

    .arrow span {
        display: flex;
    }
}

.notification-card:last-child {
    border-bottom: none;
}


.notification-card .details {
    flex: 1;
    & span {
        font-weight: 600;
        color: rgb(29, 29, 29);
    }
}

.notification-card .name {
    font-weight: 700;
}

.notification-card .text {
    color: #666;
    font-size: 14px;
    white-space: pre-wrap;

}