.number-picker {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border-radius: 3px;
    border: none;
    background-color: #f1f2f4;
}

.stepper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.1s ease-out;
    color: var(--icon-clr);
}

.stepper:hover {
    background-color: rgb(253, 253, 253);
    outline: solid 1px rgba(0,0,0,0.1);
}

.stepper:active {
    background-color: white;
    outline: none;
}

.number-input {
    text-align: center;
    border: none;
    border-radius: 3px;
    padding: 5px;
    width: 50px;

    font-family: 'Open Sans', system-ui;
    font-size: 15px;
    font-weight: 600;
}

.number-input:focus {
    outline: none;
}

.number-input:hover {
    cursor: pointer;
    
}

/* remove the up and down arrows */
.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
