.popover {
    position: relative;
    width: 100%;
    border: solid 1px rgba(105,112,125, 0.1);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
    background-color: white;

    z-index: 999;

    
}

.popover-header {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.employee-list {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px rgba(105,112,125, 0.1);
    padding-bottom: 5px;
}





.show-more {
    background-color: transparent;
    justify-content: flex-start;
    color: #707070;

    margin-top: 5px;

    .button-text {
        font-size: 14px;
        font-weight: 500;
    }

}

.show-more:hover {
    background-color: #f1f2f4;
}


.popover {
    display: none;
}

.search:focus-within ~ .popover {
    display: block;
}

.popover-content, .popover {
    .name-card {
        display: flex;
        align-items: center;
        padding: 3px 5px;
        gap: 5px;
        border-radius: 3px;
    
        font-size: 14px;
        line-height: 1;
    
        transition: background-color 0.1s ease-out;
    
        .icon {
            visibility: hidden;
            margin-left: auto;
    
            color: rgb(98, 111, 134);
            
        }
    }

    .name-card:hover {
        background-color: #f1f2f4;
        cursor: pointer;
        
    }
    
    .name-card:hover span {
        visibility: visible;
    }
}