.small-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    width: auto;
    height: auto;
    line-height: 1;

    border-radius: 3px;
    outline-color: white;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.1s ease-out, outline 0.1s ease-out;

    & span {
        line-height: 1;
    }
}

.small-icon:hover {
    cursor: pointer;
    background-color: #f1f2f4;
    color: black;
    & span {
        color: black;
    }
}

.small-icon:active {
    background-color: #fafafa;
    outline: solid 1px #f0f0f0;
}