.text-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 32px;
    padding: 0 10px;
    padding-left: 5px;

    color: #172b4d;
    background-color: #f1f2f4;

    font-size: 14px;
    font-weight: 600;
    line-height: 1;

    border-radius: 3px;

    cursor: pointer;
    transition: background-color 0.1s ease-out;

    .button-text {
        margin: 0 2px;
        line-height: 1;
    }

    .button-icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-items: center;
    
        padding: 4px;
        padding-right: 5px;
    
        & span {
            font-size: 22px;
            line-height: 1;
        }
    }

    .button-icon:empty {
        padding: 0;
        padding-left: 5px;
    }
}

.text-button:hover {
    background-color: #dcdfe4;
}



