.text-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 32px;
    padding: 0 10px;

    color: #172b4d;
    background-color: #f1f2f4;

    font-size: 14px;
    font-weight: 600;
    line-height: 1;

    border-radius: 3px;

    cursor: pointer;
    user-select: none;
    transition: background-color 0.1s ease-out;

    .button-text {
        margin: 0 2px;
        line-height: 1;
        white-space: nowrap;
    }

    .button-icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-items: center;
    
        padding: 4px;
        padding-left: 5px;
        padding-right: 5px;
    
        & span {
            font-size: 22px;
            line-height: 1;
        }
    }

    .button-icon:empty {
        padding: 0;
        padding-left: 5px;
    }
}

.text-button:has(.button-icon) {
    padding-left: 0;
}

.text-button:hover {
    background-color: #dcdfe4;
    transition: background-color 0.05s ease-out;
}

.text-button:active {
    background-color: #c4c9d2;
    transition: background-color 0.05s ease-out;
}

.text-button.blue {
    background-color: #2d8aff;
    color: white;
}   

.text-button.blue:hover {
    background-color: #2477fb;
    
}

.text-button.blue:active {
    background-color: #1254a0;
}

.text-button.no-box {
    background-color: transparent;
}

.text-button.no-box:hover {
    background-color: #f1f2f4;
}

.text-button.no-box:active {
    background-color: #dcdfe4;
}





