@media (max-width: 775px) {
    .fullscreen {
        height: max(auto, (100% - 3em));
    }

    .sidebar{
        margin-left: -100%;
        position: fixed;
        z-index: 1;
        transition: 0.1s ease-out;
        border-radius: 0;
        height: 100dvh;
        gap: 0;
        box-shadow: 0 0 24px 12px rgba(0,0,0,0.2);

        .mobile-sidebar-header {
            display: flex;
        }
    }

    .sidebar-item {
        font-size: 1.5rem;

        & p {
            margin: 0;
        }
    }

    .sidebar-item:last-child {
        position: relative;
        bottom: 0;
    }

    .visible {
        margin-left: 0;
        position: fixed;
        top: 0;
        z-index: 9999;
        transition: 0.2s ease-out;
        width: min(70%, 300px);
    }
    
    .topbar {
       
        position: sticky;
        top: 0;
        z-index: 3;
        background-color: #ffffff;
        box-shadow: 0 0 4px rgba(0,0,0,0.1);

        

        .fullLogo {
            display: none;
        }

        .left {
            overflow: clip;
        }
    }

    #global-search {
        display: none;
    }

    .search {
        width: 100%;
    }


    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 1;
        transition: opacity 0.15s ease-out;
        z-index: 1;
    }

    .hidden {
        display: flex;
        transform: translate(-50%, 100%);
        opacity: 0;
        transition: 0.1s ease-out;
    }

    .popupDialog {
        width: 400px;
    }
    

    table {
        width: 100%;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .personal-task {

        .personal-main {
            justify-content: space-between;
        }

        .personal-icons {
            display: none;
        }

    }

    #personals-search {
        height: 3rem;
        border-radius: 5px;
        margin-left: 0;
        width: 100%;
        max-width: 100%;
    }

    #new-personal {
        display: none;
    }

    .title {
        white-space: nowrap;
        
    }

    .controls {
        flex-direction: column;
        align-items: flex-start;
    }
    
    
    


}
