@media (max-width: 700px) {
    .fullscreen {
        height: max(auto, (100% - 3em));
    }

    .sidebar{
        margin-left: -100%;
        position: fixed;
        z-index: 1;
        transition: 0.1s ease-out;
        border-radius: 0;
        height: 100dvh;
        gap: 0;
        box-shadow: 0 0 24px 12px rgba(0,0,0,0.2);

        .mobile-sidebar-header {
            display: flex;
        }
    }

    .sidebar-item {
        font-size: 1.5rem;

        & p {
            margin: 0;
        }
    }

    .sidebar-item:last-child {
        position: relative;
        bottom: 0;
    }

    .visible {
        margin-left: 0;
        position: fixed;
        top: 0;
        z-index: 9999;
        transition: 0.2s ease-out;
        width: min(70%, 300px);
    }
    
    .topbar {
       
        position: sticky;
        top: 0;
        z-index: 3;
        background-color: #ffffff;
        box-shadow: 0 0 4px rgba(0,0,0,0.1);

        

        .fullLogo {
            display: none;
        }

        .left {
            overflow: clip;
        }
    }

    #global-search {
        display: none;
    }

    .search {
        width: 100%;
    }


    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 1;
        transition: opacity 0.15s ease-out;
        z-index: 1;
    }

    .hidden {
        display: flex;
        transform: translate(-50%, 100%);
        opacity: 0;
        transition: 0.1s ease-out;
    }

    .popupDialog {
        width: 400px;
    }
    

    table {
        width: 100%;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .personal-task {

        .personal-main {
            justify-content: space-between;
            min-height: 32px;
        }

        .personal-icons {
            display: none;
        }

    }

    #personals-search {
        height: 3rem;
        border-radius: 5px;
        margin-left: 0;
        width: 100%;
        max-width: 100%;

        display: none;

        .search-icon {
            margin-right: 16px;
            & span {
                font-size: 24px;
            }
        }
    }

    #mobile-search-icon {
        display: flex;

        & span {
            font-size: 24px;
        }
    }

    #mobile-search-icon:hover {
        background-color: var(--light-grey-bg);
    }

    #mobile-search-icon:active {
        background-color: white;
        transition-duration: 0.05s;
    }



    #personals-sort {
        background-color: var(--light-grey-bg);
        border-radius: 6px;
        border-bottom: none;
        transition-duration: 0.1s;
        min-width: auto;

        .dropdown-chevron {
            display: none;
        }

        .dropdown-text {
            text-align: right;
        }

        .dropdown-menu {
            width: auto;
        }
    }

    #personals-sort:active {
        background-color: white;
        transition-duration: 0.1s;
    }

    #personals-sort-direction {
        background-color: var(--light-grey-bg);
        border-radius: 6px;
        border: none;
        transition-duration: 0.1s;
    }

    #personals-sort-direction:hover {
        background-color: var(--light-grey-bg);
    }

    #personals-sort-direction:active {
        background-color: white;
        transition-duration: 0.1s;
    }

    

    #new-personal {
        display: none;
    }

    #mobile-new-personal {
        display: flex;
        margin-left: 0.25rem;
        justify-content: flex-end;
    }

    #mobile-new-personal:hover {
        background-color: var(--light-grey-bg);
    }

    #mobile-new-personal:active {
        background-color: white;
        transition-duration: 0.05s;
    }

    .title {
        white-space: nowrap;
        
    }

    #mobile-search-input.open {
        width: 100%;
        height: 100%;
        padding: 4px 16px;
        opacity: 1;
        border-bottom: solid 2px #172b4d;
        transition: opacity 0.2s ease-out;
    }

    .mobile-icons {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 48px;
        justify-content: flex-end;
        align-items: center;
    }

    .controls {
        justify-content: space-between;
        width: calc(100% - 2rem);
    }
    
    .list-container {
        margin-left: 0;
        width: 100%;
    }
    


}
