/* this also contains the page title to save space for more personal items on the screen */
.controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 0.5rem;
    margin: 1rem 0;

    width: calc(100% - 2rem);
    align-self: center;

    .title {
        font-size: 20px;
        font-weight: 600;
    }

    .search {
        width: 100%;
        max-width: 300px;
    }

    #personals-sort {
        margin-left: auto;
    }

    #new-personal {
        
    }
}

.list-container {
    display: flex;
    flex-direction: column;

    .title {
        margin-left: 1rem;
        width: calc(100% - 2rem);
    }

}

.list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 0.5rem;
    margin: 1rem 0;
    margin-top: 0.5rem;

    width: calc(100% - 2rem);
    align-self: center;
}

.personal-task {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 1rem;
    padding: 0.5rem 1rem;
    padding-right: 0.5rem;
    
    width: 100%;

    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: background-color 0.05s ease-out;

    .personal-checkbox {
        display: flex;
        align-items: center;
        justify-content: center;

        & input {
            margin: 0;
            line-height: normal;
            width: 1rem;
            height: 1rem;
        }

        & input:hover {
            cursor: pointer;
        }
    }

    .personal-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        gap: 1rem;

        width: 100%;
    }

    .personal-title {
        font-size: 14px;
        font-weight: 400;
    }

    .personal-icons {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        gap: 0.5rem;
    }

}

.personal-task:hover {
    background-color: #388bff11;
    cursor: pointer;
    transition: background-color 0.1s ease-out;
}

.personal-task:active {
    background-color: var(--make-it-all-tint);
    transition: background-color 0.1s ease-out;
}

.personal-task.selected {
    outline: solid 2px #388bffaa;
}

