.fa-solid {
    color: #2f2f2f;
}

.projectsbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.projects {
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    justify-content: flex-end; 
    font-weight: 600;
    height: 3em;
    align-items: center;
    text-wrap: nowrap;
    .selected {
        background-color: rgb(244,244,244);
        color: #000000;
        border-bottom: solid 2px;
        
    };

}

#bin {
    position: absolute;
    bottom: 0.25m;
    right: 0.4em;
}

button:disabled {
    background-color: #cccccc;
    color: #808080;
    cursor: not-allowed;
}

.project {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-right: 0.75em;
    margin-left: 0.75em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: #555555;
    font-weight: 700;
    height: 100%;
    gap: 0.25em;
    transition: 0.1s ease-out;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    user-select: none;
}

.project:hover {
    color: #0f0f0f;
    transition-duration: 0.05s;
    cursor: pointer;
}

.add-project {
    color: #555555;
    cursor: pointer;
    border-radius: 8px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    transition: 0.1s ease-out;
}

.add-project:hover {
    color: #0f0f0f;
    background-color: #f4f4f4;
    transition-duration: 0.1s;
}

.personal {
    font-weight: 800;
    height: 100%;
    gap: 0.25em;
    transition: 0.2s ease-out;
}


.views {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    font-weight: 600;
    height: 3em;
    width: calc(100% - 2em);
    align-items: center;
    position: sticky;
    top: 0;
    color: #555555;
    z-index: 1;
    border-bottom: solid 2px #e0e0e0;
    background-color: rgb(244, 244, 244);
    flex: 0 0 3em;
    .selected {
        background-color: rgb(246,246,245);
        color: #000000;
        box-shadow: 0 0 6px rgba(0,0,0,0.15);
        transition: 0.15s ease-out;
    };
}

.view {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-left: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: rgb(246,246,245);
    font-weight: 700;
    gap: 0.25em;
    border-radius: 4px;
    transition: 0.1s ease-out;
    cursor: pointer;
    user-select: none;
}

.view:hover {
    color: #0f0f0f;
    transition-duration: 0.05s;
    cursor: pointer;
    background-color: white;
}

.viewport-button {
    color: #555555;
    cursor: pointer;
    border-radius: 8px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    transition: 0.1s ease-out;
    margin-left: auto;
    user-select: none;
}

.viewport-button:hover {
    color: #0f0f0f;
    background-color: white;
    transition-duration: 0.1s;
}

.taskarea {
    height: 100%;
    width: 100%;
    background-color: rgb(244, 244, 244);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    overflow-x: hidden;
}

.explainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
    margin: 0.75em;
    margin-left: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.7);
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
    width: 100%;
    height: calc(100% - 2em);
    overflow-x: hidden;
    overflow-wrap: break-word;
    overflow-y: hidden;
    flex: 0 0 330px;
    position: sticky;
    top: 16px;
    bottom: auto;
    .title {
        font-size: 1.5em;
        font-weight: 700;
        color: #0f0f0f;
    }
    .description {
        font-size: 1em;
        font-weight: 500;
        color: #0f0f0f;
    }
    .team-leader {
        font-size: 1em;
        font-weight: 600;
        color: #0f0f0f;
        transition: 0.1s ease-out;
        display: flex;
        flex-direction: row;
        gap: 0.5em;
        align-items: center;
        
    }
    .manage {
        font-size: 0.85em;
        width: 60px;
        color: #0f0f0fbb;
        margin-top: 0px;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    };
    .divider {
        width: 100%;
        height: 1px;
        margin-top: 0em;
        background-color: #0f0f0f;
        opacity: 0.2;
    }
}

.avatar {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: rgba(0,0,0,0);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.1s ease-out;
}

.task-overview {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5em;
    width: 100%;
    .title {
        font-size: 1.25em;
        font-weight: 700;
        color: #0f0f0f;
        display: flex;
        gap: 0.25em;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
    }
    .description {
        font-size: 1em;
        font-weight: 500;
        color: #0f0f0f;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
    }
    .date {
        font-size: 0.95em;
        font-weight: 400;
        color: #2d2e30;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
    }
    .status {
        font-size: 0.95em;
        font-weight: 400;
        color: #2d2e30;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
    }
}


[contenteditable="true"] {
   
    transition: 0.1s ease-out;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
    border-radius: 4px;
    padding-left: 0.25em;
    padding-right: 0.25em;
    &:hover {
        color: #0f0f0f;
        background-color: #f0f0f0;
        transition-duration: 0.1s;
    }
}

#press-to-edit{
    font-size: 0.85em;
    font-weight: 400;
    color: #676a72;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.status {
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.viewport {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75em;
}

.create-task-area {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 50%;
    bottom: 10px;
}

.create-task {
    text-align: center;
    width: auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1em;
    color: #0f0f0fbb;
    margin-top: 0px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}


.taskgrid {
    display: flex;
   
    align-self: center;
    gap: 1em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 1em;
    margin-top: 0;
    justify-content: center;
}

.columntitle {
    font-weight: 500;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin: 0.5em;
    margin-bottom: 0;
    margin-left: 0;
    text-align: center;
    border-radius: 2em;
    user-select: none;
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: calc(100% - 1.5em);
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border-radius: 4px;
    transition: 0.1s ease-out;
    cursor: pointer;
    user-select: none;
}

.task-count {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: auto;
    aspect-ratio: 1;
    border-radius: 50%;
    font-weight: 700;
}

.add-task {
    font-size: 0.9em;
    font-weight: 500;
    margin-top: 0px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    transition: 0.1s ease-out;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}
.add-task {
    width: calc(100% - 1.5em);
}

.add-task:hover {
    color: #0f0f0f;
    background-color: #fadec977;
    transition-duration: 0.1s;
}

.taskcolumn {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 0.5em;
    gap: 0.75em;
    width: 22em;
    transition: 0.08s ease-out;
}

.task {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: calc(100% - 1.5em);
    border-radius: 4px;
    outline: solid 1px rgba(105,112,125, 0.75);
    background-color: #fffa;
    color: rgb(55, 53, 52);
    box-shadow: 0 3px 4px rgba(0,0,0,0.1);
    padding: 0.55em;
    padding-top: 0.5em;
    cursor: pointer;
    transition: transform 0.1s ease-in-out !important;
    .title {
        font-size: 1em;
        font-weight: 700;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5em;
    };
    .date {
        font-size: 0.85em;
        font-weight: 500;
        color: #0f0f0faa;
    };
    .manage {
        font-size: 0.85em;
        width: 80px;
        color: #0f0f0fbb;
        text-align: center;
        margin-left: auto;
        display: inline;
        box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    };
    .description {
        height: 1.5em;
        text-overflow: ellipsis;
        text-wrap: nowrap;
        overflow: hidden;
        font-size: 0.9em;
        font-weight: 600;
        color: #0f0f0fbb;
    };
    
}

.description-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.5em;
}
.description-container i {
    color: #2f2f2f;
}
.date-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.5em;
}
.date-container i {
    color: #2f2f2f;
}
.status-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.5em;

}
.status-container i {
    color: #2f2f2f;
}

.date-and-button {
    display: flex;
    align-items: center;
    height: 1.5em;
}

.urgent {
    font-size: 0.85em;
    color: #c04646aa;
   
    display: flex;
    align-items: center;
};

.task:hover {
    outline-color: #2f2f2f;
    transition-duration: 0.06s;
    cursor: pointer;
    background-color: #fff;
}

.draggable {
   
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    color: #777777;
    font-size: 1em;
    cursor: grab;
    transition: 0.2s ease-out;
}
.task:hover>.draggable {
    color: #0f0f0f;
    transition-duration: 0.08s;
}
.task:hover {
    color: #0f0f0f;
    background-color: #f6f6f6aa;
    transition-duration: 0.08s;
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.12);
}

.expanded {
    transition-duration: 0.5s;
    .description {
        display: block;
        overflow: visible;
        height: auto;
        text-wrap: wrap;
    }
}

.dropdown{
    color: rgba(255,255,255,0);
    font-size: 1em;
    cursor: pointer;
    transition: 0.2s ease-out;
    width: 0;
    height: 0;

}

.delete-button {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    padding: 0.3em;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.delete-button:hover {
    color: #c04646;
    transition-duration: 0.08s;
}

.task:hover .dropdown {
    color: #777777;
    width: auto;
    height: auto;
    transition-duration: 0.08s;
}

.dropdown i:hover{
    color: #0f0f0f;
    transition-duration: 0.08s;
}


.beingdragged {
    opacity: 0.5;
    cursor: grabbing;
    box-shadow: 0 0 3px 2px rgba(94, 137, 255, 1), 0 0 2px 1px rgba(94, 137, 255, 0.8) inset;
    outline: solid 2px rgba(94, 137, 255, 1);
}

.dragindicator {
    color: #000;
    background-color: #fff;
}

#notstarted {
    background-color: rgba(252, 245, 242, 0.7);
    border: solid 1px rgba(0,0,0,0.15);
    .columntitle {
        background: rgb(250, 222, 201);
        color: rgb(73, 41, 14);
        font-weight:700;
    };
    .task-count {
        color: rgb(73, 41, 14);
        background-color: rgb(250, 222, 201);
    }
    .add-task {
        color: rgb(73, 41, 14);
    };
    .add-task:hover {
        background-color: #fadec977;
    }
    
}

#inprogress {
    background-color: rgba(241, 248, 251, 0.7);
    border: solid 1px rgba(0,0,0,0.15);
    .columntitle {
        background: rgb(211, 229, 239);
        color: rgb(24, 51, 71);
        font-weight:700;
    };
    .task-count {
        color: rgb(24, 51, 71);
        background-color: rgb(211, 229, 239);
    }
    .add-task {
        color: rgb(24, 51, 71);
    };
    .add-task:hover {
        background-color: #d3e5ef77;
    }

}

#finished {
    background-color: rgba(244, 248, 243, 0.7);
    border: solid 1px rgba(0,0,0,0.15);
    .columntitle {
        background: rgb(219, 237, 219);
        color: rgb(28, 56, 41);
        font-weight:700;
    }
    .task-count {
        color: rgb(28, 56, 41);
        background-color: rgb(219, 237, 219);
    }
    .add-task {
        color: rgb(28, 56, 41);
    };
    .add-task:hover {
        background-color: #dbeddb77;
    }
}

.tasklist {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    padding: 0.5em;
    padding-top: 0;
    margin: 0;
    margin-top: 0;
    
}


table {
    border-collapse: collapse;
    width: calc(100% - 2em);
    align-self: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
    border: solid 2px rgba(105,112,125, 0.75);
    
}

td {
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom: solid 1px rgba(105,112,125, 0.25);

    &:first-child {
        border-left: solid 2px rgba(105,112,125, 0.25);
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    &:last-child {
        border-right: solid 2px rgba(105,112,125, 0.25);
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

}




thead {
    background-color: #fff;
    color: #0f0f0f;
    font-weight: 700;
    
}


th {
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: left;
    border-bottom: solid 2px #2f2f2faa;

}

th i {
    font-size: 1em;
    color: #777777;
    transition: 0.2s ease-out;
    padding: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-left: 0.25em;
    margin-right: 0.25em;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;

    .selected {
        color: #0f0f0f;
        background-color: rgb(244,244,244);   
    }
}

th i:hover {
    color: #0f0f0f;
    transition-duration: 0.08s;
    background-color: #f4f4f4;
}



#list-add {
    background-color: rgba(255,255,255,0);
    border: none;
    color: #777777;
    font-size: 0.9em;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease-out;
    border-radius: 8px;
    user-select: none;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

#list-add:hover {
    color: #0f0f0f;
    transition-duration: 0.08s;
    background-color: #f0f0f0;
}

.not-started {
    background-color: rgba(245, 205, 188, 0.7);
}

.in-progress {
    background-color: rgba(188, 219, 245, 0.7);
}

.finished {
    background-color: rgba(188, 245, 188, 0.7);
}

.taskRow {
    cursor: pointer;
    text-decoration: none;
    border-radius: 4px;
    background-color: white;
    font-size: 0.9rem;
    font-weight: 500;
    border-collapse: separate;
}

.taskRow:hover {
    cursor: pointer;
    position: relative;
    z-index: 100;
    background-color: #daebffaa;
    box-shadow: 0 0 2px 0 rgba(94, 137, 255, 1);
    transition: 0.1s ease-out;  
}


.hidden {
    display: none;
    right: -342px;
}


input[type="text"] {
    display: block;
    width: 100%;
    height: 2.5em;
    padding: 0.5em;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    font-weight: 200;
    font-family: sans-serif;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    transition: 0.1s ease-out;
    background-color: rgba(0,0,0,0);
}

input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
}

input[type="text"]::placeholder {
    font-weight: 600;
}

.title-input {
    font-size: 1em !important;
    font-weight: 700 !important;
    color: #0f0f0f;
    display: flex;
    flex-direction: row;
    height: 24px;
}

.task.new {
    border-color: rgba(188, 219, 245, 0.7);
    padding: 0;
}

.task.new:hover {
    background-color: #fffa;
}


.confirmation {
    text-align: center;
    color: darkgreen;
    font-size: 1.1em;
    opacity: 1;
    margin-left: auto;
    margin-right: 1.25em;
}


.descripton.editing {
    height: 3em;
    overflow: visible;
    text-wrap: wrap;
}

.fullscreen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupDialog {
    top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    width: fit-content;
    height: 90%;
    max-height: 800px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
    padding: 3em;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    width: 510px;
}

.popupDialog p:first-child {
    font-size: 1.5em;
}
.popupDialog p:nth-child(2) {
    padding-bottom: 0.7em;
    font-size: 1.3em;
}
.popupDialog p {
    margin: 0.1em 0;
}

.buttonForm {
    display: flex;
    align-self: center;
    justify-content: center;
    padding-top: 2em;
}

.closeButton, .deleteButton {
    padding: 0.5em 0.8em;
    margin: 0 0.5em;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

.deleteButton {
    background-color: rgb(218,55, 60);
    color: white;
}

.deleteButton:hover {
    background-color: rgb(161, 40, 40);
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        border: none;
}

.closeButton:hover{
    border: none;
    background-color: rgb(34, 32, 32);
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
}

#delete-popup {
    display: flex;
    justify-content: center;
    align-items:center;
    width: fit-content;
    height: fit-content;
    max-height: 800px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
    top: 50%;
    transform: translate(0, -50%);
    padding: 3em;
    text-align: center;
}