/* this also contains the page title to save space for more personal items on the screen */
.controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 0.5rem;
    margin: 1rem 0;

    width: calc(100% - 2rem);
    align-self: center;

    .title {
        font-size: 24px;
        font-weight: 700;
    }

    .search {
        width: 100%;
        max-width: 300px;
        margin-left: auto;
    }

    #personals-sort {
        
    }

    #new-personal {
        
    }
}

.modal-buttons-and-tip {
    display: flex;
    justify-content: space-between;

    .modal-tip-text {
        opacity: 0.5;
        font-size: 12px;
        font-weight: 600;
        color: var(--text-off-black);
        display: flex;
        align-items: flex-end;
    }

    .modal-tip-text kbd {
        padding: 2px 4px;
        font-size: 11px;
        line-height: 10px;
        color: #555;
        vertical-align: middle;
        background-color: #fcfcfc;
        border: solid 1px #ccc;
        border-bottom-color: #bbb;
        border-radius: 3px;
        box-shadow: inset 0 -1px 0 #bbb;
    }
}

.list-container {
    display: flex;
    flex-direction: column;

    overflow-y: scroll;

    .header {
        margin-left: 1rem;
        width: calc(100% - 2rem);
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;

        .title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            gap: 0.5rem;
        }

        .title-text {
            font-size: 18px;
            font-weight: 500;
        }
    }

    
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 0.5rem;
    margin: 1rem 0;
    margin-top: 0.5rem;

    width: calc(100% - 2rem);
    align-self: center;
}

.list.collapsed {
    height: 0;
    .personal-task {
        display: none;
    }
}

.personal-task {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 1rem;
    padding: 0.5rem 1rem;
    padding-right: 0.5rem;
    
    width: 100%;

    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: background-color 0.05s ease-out;

    .personal-checkbox {
        display: flex;
        align-items: center;
        justify-content: center;

        & input {
            margin: 0;
            line-height: normal;
            width: 1rem;
            height: 1rem;
        }

        & input:hover {
            cursor: pointer;
        }
    }

    .personal-main {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        gap: 1rem;

        width: 100%;

        user-select: none;
    }

    .personal-title {
        font-size: 14px;
        font-weight: 400;
    }

    .title-text {
        line-height: 1;
    }

    .add-description {
        opacity: 0;
        transition: opacity 0.1s ease-out;

        & span {
            font-size: 20px;
        }
    }

    .personal-chevron {
        display: flex;
        align-items: center;
        justify-content: center;

        & span {
            font-size: 22px;
            color: var(--icon-clr);
        }
    }

    .personal-icons {
        opacity: 0;
        transition: opacity 0s ease-out;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        gap: 0.5rem;
        margin-left: auto;

    }

    .personal-description {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        visibility: hidden;
        height: 0;
        width: 0;
        transition: visibility 0.1s ease-out, height 0.1s ease-out, width 0.1s ease-out;
    }

}

.personal-task:hover {
    background-color: #388bff11;
    cursor: pointer;
    transition: background-color 0.1s ease-out;

    .personal-icons {
        opacity: 1;
        transition: opacity 0.05s ease-out;
    }


}

.edit-mode {

    .add-description {
        opacity: 1;
        transition: opacity 0.1s ease-out;
        visibility: visible;
        height: auto;
        width: auto;
    }

}


.personal-task:active {
    background-color: var(--make-it-all-tint);
    transition: background-color 0.1s ease-out;
}

.personal-task.selected {
    outline: solid 2px #388bffaa;
}



/* popup css modified from wiki. */

.popup-dialog {
    top: 8%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 4px 14px 0px var(--box-shadow-lighter-clr, rgba(0,0,0,0.15));
    padding: 18px;
    padding-top: 14px;
    max-width: 600px;
    width: calc(100% - 2.5em);
    gap: 0.75em;

    .popup-title {
        display: flex;
        flex-direction: row;
        align-items: center;

        font-weight: 700;
        font-size: 20px;
        color: var(--text-off-black, #0f0f0f);
        width: 100%;
        .small-icon {
            margin-left: auto;
        }
    }

    .popup-buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 0.5em;
    }

}

#delete-button {
    background-color: #ff4b5c;
    color: white;
    transition: background-color 0.1s ease;
}

#delete-button:hover {
    background-color: #cc3946;
    color: white;
}
