.main {
    align-items: center;
}

.main > .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.options {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 800px;
    margin-top: 1em;

    background-color: white;
    padding: 1rem;
    border-radius: 6px;

    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.option {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1rem 0.5rem;
    gap: 0.5rem;

    border-bottom: 1px solid var(--border-clr);

    .name, .value {
        display: flex;
        color: var(--text-off-black, #0f0f0f);
        font-weight: 600;
        flex-wrap: nowrap;
        cursor: pointer;
        white-space: nowrap;
    }

    .name {
        user-select: none;
        gap: 0.5rem;
        display: flex;
        align-items: flex-start;
        height: 100%;
        width: 100%;
    }
}

.option-title {
    display:flex;
    align-items: start;
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 0.5rem;
}
.option-subtitle {
    display:flex;
    align-items: start;
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;

}

.account-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
    width: 100%;

    border-radius: 3px;
    background-color: rgba(255, 174, 0, 0.1);

    .avatar-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
    }

    .details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.25rem;
        
    }

    .current-name {
        font-weight: 600;
        font-size: 18px;
    }

    .role-container {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        align-items: center;
        justify-content: center;

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            & span {
                font-size: 32px;
            }
        }

        .role {
            font-weight: 600;
            font-size: 14px;
        }

    }

    
}

#user-icon-current {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    aspect-ratio: 1;
}

.name-display-input {
    padding: 4px 6px;
    border: none;
    outline: none;
    background-color: transparent;
    color: inherit;
    box-sizing: border-box;

    font-size: 14px;
    font-family: var(--font-family);

    width: 100%; /* firefox has a different default width for input elements to chrome so this is here to override it */

}

.name-display-input::placeholder {
    color: rgb(98, 111, 134);
    user-select: none;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: flex-end;

}

.popup-dialog {
    top: 8%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--white);
    border-radius: 8px;
    border: none;
    box-shadow: 0px 4px 14px 0px var(--box-shadow-lighter-clr, rgba(0,0,0,0.15));
    padding: 18px;
    padding-top: 14px;
    max-width: 600px;
    width: calc(100% - 2.5em);
    gap: 0.75em;

    .popup-title {
        display: flex;
        flex-direction: row;
        align-items: center;

        font-weight: 700;
        font-size: 20px;
        color: var(--text-off-black, #0f0f0f);
        width: 100%;
        .small-icon {
            margin-left: auto;
        }
    }

    .popup-buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 0.5em;
    }

}

.editable{
    border: rgb(124, 124, 124) 1px solid;
    width: 80%;
    border-radius: 0.2em;
    cursor: text;
}
