.window {
    margin-left: auto;
    margin-right: auto;
    width: 24em;
    display: flex;
    flex-direction: column;
}

.signin-prompt {
    font-weight: 600;
    text-align: center;
}

body {
    font-weight: 600;
    font-size: 1em;
    font-weight: 700;
}

.logo {
    padding-top: 30px;
    width: 150px;
    text-align: center;
    border-radius: 10%;
}

#togglePassword {
    font-size: 1.25em;
    cursor: pointer;
    margin-left: auto;
    margin-right: 0.5em;
    margin-top: -2.125em;
    z-index: 1;
}

.box {
    margin-left: auto;
    margin-right: auto;
    width: 28em;
    border-radius: 8px; 
    padding: 2.5em; 
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    margin-top: 2em; 
    margin-bottom: 2em; 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    transition: 0.1s ease-out; 
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    
}

.fullscreen {
    background-color: rgb(244, 244, 244);
}

input {
    font-size: 1em;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, Arial, sans-serif;
    border: none;
    border-radius: 4px;
    padding: 0.5em;
    margin: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    width: 100%;
    box-sizing: border-box;
    transition: 0.1s ease-out;
    background-color: rgb(248, 248, 248);
    box-shadow: inset 0 0 4px rgba(0,0,0,0.1);
}

label {
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    margin-right: auto;
    margin-left: 0;
}

.name-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 0.5em;
    
}

.name-container input {
    margin-left: 0;
    margin-right: 0;
}

.password-criteria {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1em;
    margin-bottom: 0.5em;
    width: 100%;
    font-weight: 400;
    color: #0f0f0f;
}

ul {
    margin-left: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 100%;
    font-weight: 400;
}

.textfield:hover {
    outline: 1px solid #77b2eb;
    box-shadow: 0 0 0px 2px #a0bfff;
}

.textfield:focus {
    outline: 1px solid #77b2eb;
    box-shadow: 0 0 0px 2px #a0bfff;
}

.textfield:active {
    outline: 1px solid #77b2eb;
    box-shadow: 0 0 0px 2px #a0bfff;
}
