body {
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
}
* {
    box-sizing: border-box;
}
.container {
    max-width: 80%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.taskcolumn {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 0.75em;
    gap: 0.75em;
    width: 22em;
    transition: 0.08s ease-out;
}





