.main {
    display: flex;
    align-items: center;
    background-color: var(--light-grey-bg);
    overflow-y: auto;
}


.post {
    max-width: 800px;
    margin: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    background-color: #fff;
    color: black;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
    .title{
        font-size: 1.5em;
        font-weight: 700;
        color: #1a1a1b;
    }
    .content{
        font-size: 0.9em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;

        text-wrap: pretty;

        & h2 {
            font-size: 1.25em;
            font-weight: 600;
            color: #1a1a1b;
        
        }

        & strong {
            font-weight: 600;
        
        }

        & p {
            margin-block-end: 0;
            margin-block-start: 0;
        }

        & ul {
            margin-block-end: 0.25em;
            margin-block-start: 0.25em;
        }

        & img {
            max-width: 100%;
            height: auto;

        }
    }
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    
    .left-column {
        flex-grow: 1;
    }
}

.footer {
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 0.25em;
}

.buttons {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.25em;

    .active {
        color: red;
    }
}

.authorIcon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
    font-size: 1.25em;
    font-weight: 500;
    color: #2d2e30;

}

.details {
    display: flex;
    justify-content: flex-start;
    gap: 0.6em;
    margin: 0.5em;
    margin-left: 0;
    
    .author {
        line-height: 2.4rem;
        font-size: 0.9em;
        color: #2d2e30;
    }

    .date {
        line-height: 2.4rem;
        font-size: 0.9em;
        color: #2d2e30;
        margin-left: auto;
    }
    
}

.tags {
    display: flex;
    justify-content: flex-start;
    padding: 0.2em;
    padding-left: 0;
    gap: 0.5em;
}




.divider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid 1px #e0e0e0;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.75em;
    padding-left: 1em;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.1);
}

.avatar {
    width: 1.75em;
    height: 1.75em;
    border-radius: 50%;
    aspect-ratio: 1;
}


