.main {
    display: flex;
    align-items: center;
    background-color: var(--light-grey-bg);
    overflow-y: auto;
}

#scroll-to-top{
    z-index: 999;
    display: flex;
    bottom: 30px;
    right: 40px;
    position: fixed;
}

#scroll-to-top:hover {
    cursor: pointer;
    background-color: darkgray;
}

.post {
    max-width: 800px;
    width: min(800px, calc(100% - 2rem));
    margin: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    background-color: var(--white);
    color: black;
    border-radius: 8px;
    border: 1px solid var(--border-clr);
    box-shadow: 0 0 6px rgba(0,0,0,0.1);

    .post-category {
        font-weight: 500;
    }

    .title{
        font-size: 1.5em;
        font-weight: 700;
        color: #1a1a1b;
        text-wrap: pretty;
    }
    .content{
        font-size: 15px;
        margin-top: 0.5em;
        margin-bottom: 0.5em;

        text-wrap: pretty;

        & h2 {
            font-size: 1.25em;
            font-weight: 600;
            color: #1a1a1b;
        
        }

        & strong {
            font-weight: 600;
        
        }

        & p {
            margin-block-end: 0;
            margin-block-start: 0;
        }

        & ul {
            margin-block-end: 0.25em;
            margin-block-start: 0.25em;
        }

        & img {
            max-width: 100%;
            height: auto;

        }
    }
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    
    .left-column {
        flex-grow: 1;
    }
}

.footer {
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 0.25em;
}

.category-and-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

}

.buttons {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.25em;

    & span {
        font-size: 24px;
    }

    .active { /* sets the google icon to filled in */
        color: var(--sorting-color);
        transition: font-variation-settings 0.1s ease-out;
        .material-symbols-rounded {
            font-variation-settings: 'FILL' 1;
            transition: font-variation-settings 0.1s ease-out;
        }

    }
}

.authorIcon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
    font-size: 1.25em;
    font-weight: 500;
    color: #2d2e30;

}

.details {
    display: flex;
    justify-content: flex-start;
    gap: 0.6em;
    margin: 0.5em;
    margin-left: 0;
    
    .author {
        line-height: 2.4rem;
        font-size: 15px;
        font-weight: 500;
        color: #414347;
    }

    .date {
        line-height: 2.4rem;
        font-size: 15px;
        font-weight: 500;
        color: #414347;
        margin-left: auto;
    }
    
}

.tags {
    display: flex;
    justify-content: flex-start;
    padding: 0.2em;
    padding-left: 0;
    gap: 0.5em;
}




.divider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid 1px var(--border-clr);
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.75em;
    padding-left: 1em;
    width: 100%;
    background-color: var(--white);
    border-radius: 10px;
    border: 1px solid var(--border-clr);
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.1);
}

.avatar {
    width: 1.75em;
    height: 1.75em;
    border-radius: 50%;
    aspect-ratio: 1;
}

/* quill override */
.ql-editor {
    font-family: var(--font-family);
    font-size: 15px;
    line-height: 1.5;
    padding-top: 1.5rem;
    padding-left: 0;
    padding-right: 1rem;
}

.ql-toolbar.ql-snow {
    font-family: var(--font-family);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid 1px var(--border-clr);
    background-color: var(--white);
    box-shadow: 0px 0px 4px rgba(0,0,0,0.12);
}


.ql-snow * {
    box-sizing: border-box;
}

.ql-container.ql-snow {
    background-color: var(--white);
    border: none;
}

.editor-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
}


