@media (max-width: 775px) {
    .fullscreen {
        height: max(auto, (100% - 3em));
    }

    .sidebar{
        margin-left: -100%;
        position: fixed;
        z-index: 1;
        transition: 0.1s ease-out;
        border-radius: 0;
        height: 100dvh;
        gap: 0;
        box-shadow: 0 0 24px 12px rgba(0,0,0,0.2);

        .mobile-sidebar-header {
            display: flex;
        }
    }

    .sidebar-item {
        font-size: 1.5rem;

        & p {
            margin: 0;
        }
    }

    .sidebar-item:last-child {
        position: relative;
        bottom: 0;
    }

    .visible {
        margin-left: 0;
        position: fixed;
        top: 0;
        z-index: 9999;
        transition: 0.2s ease-out;
        width: min(80%, 300px);
    }
    
    .topbar {
       
        position: sticky;
        top: 0;
        z-index: 3;
        background-color: #ffffff;
        box-shadow: 0 0 4px rgba(0,0,0,0.1);

        

        .fullLogo {
            display: none;
        }

        .left {
            overflow: clip;
        }
    }

    #global-search {
        display: none;
    }

    .views {
        height: 5rem;
        flex: 0 0 5rem;
        flex-wrap: wrap;
        position: relative;
        z-index: 0;
        justify-content: flex-start;
        margin: 0 10px;
    }

    .view {
        font-size: 1.1em;
        margin-left: 0;
        margin-right: 10px;
    }

    .search {
        width: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    #finished {
        margin-bottom: 0.75em;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 1;
        transition: opacity 0.15s ease-out;
        z-index: 1;
    }

    .explainer {
       
        height: 60%;
        width: calc(100% - 2em);
        background-color: white;
        border-radius: 5px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: 0 0 12px rgba(0,0,0,0.25);
        transition: 0.15s ease-out;
        z-index: 2;
        position: fixed;
       
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
       
        margin: 0;
        padding: 1em;
        box-sizing: border-box;

        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .hidden {
        display: flex;
        transform: translate(-50%, 100%);
        opacity: 0;
        transition: 0.1s ease-out;
    }

    .task {
        .description {
            display: none;
        }
    }

    .create-task-area {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        left: 50%;
        bottom: 10px;
    }

    .popupDialog {
        width: 400px;
    }
    
    .create-task {
        text-align: center;
        width: auto;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        font-size: 1em;
        color: #0f0f0fbb;
        margin-top: 0px;
    }

    .taskgrid {
        align-items: flex-start;
        flex-wrap: nowrap;
        overflow-x: scroll;
        width: 100vw;

        scroll-snap-type: x mandatory;
        scroll-padding: 0 1em;

        padding-left: 1rem;
        padding-right: 1rem;

        margin-left: 0;
        margin-right: 0;

    }

    .taskcolumn {
        width: auto;
        flex: 0 0 22em;

        scroll-snap-align: start;
        scroll-snap-stop: normal;

    }

    .tasklist {
        align-items: center;
        width: 100%;
        height: 100%;
    }

    table {
        width: 100%;
    }

    .viewport {
        width: 100%;
        height: 100%;
    }

   
    .projectsbar {
        overflow-x: scroll;
        overflow-y: hidden;
    }

    ::-webkit-scrollbar {
        display: none;
    }
    
    .taksarea {
       
        overflow-y: hidden;
    }

    th {
        padding-right: 0;
    }

    #delete-popup {
        width: 400px;
        height: 300px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .breadcrumb-navigator {
        color: black;
        font-weight: 500;
    }
}
