@media (max-width: 855px) {
    .fullscreen {
        height: max(auto, (100% - 3em));
    }

    .sidebar{
        margin-left: -100%;
        position: absolute;
        z-index: 1;
        transition: 0.1s ease-out;
        border-radius: 5px;
        height: auto;
        box-shadow: 0 0 6px rgba(0,0,0,0.2);
    }

    .sidebar-item {
        font-size: 1.2em;
    }

    .sidebar-item:last-child {
        position: relative;
        bottom: 0;
    }

    .visible {
        margin-left: 0.25em;
        position: absolute;
        top: 3em;
        z-index: 1;
        transition: 0.2s ease-out;
    }

    .topbar {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: #ffffff;
        box-shadow: 0 0 4px rgba(0,0,0,0.1);
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .viewport {
        width: 100%;
        height: 100%;
    }

    .projects {
        display: grid;
        grid-template-areas:
            "active-tasks"
            "project-progress"
            "outstanding-tasks"
            "task-completions"
            "recently-finished";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        gap: 20px;
        padding: 20px;
        padding-top: 0;
        height: 100%;
        width: 100%;
        background-color: rgb(244, 244, 244);
    }

    .progress-chart-legend {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 5px;
    }
    .legend-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-weight: 500;
        gap: 5px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        margin-top: 10px;
    }

    .legend-text {
        font-size: 14px;
        font-weight: 600;
        padding-left: 0;
    }

    .main {
        overflow-y: scroll;
    }

    .topics {
        display: none;
    }

    .recently-finished-list {
        overflow-y: none;
    }

    .projects {
        padding-bottom: 20px;
    }
}
