@media screen and (max-width: 1520px) and (min-width: 776px) {
    .taskgrid {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    #taskgrid {
        margin-bottom: 0.75em;
    }
}
