@media (max-width: 600px) {
    .fullscreen {
        height: max(auto, (100% - 3em));
    }

    .dashboard-container {
        gap: 0.5rem;
        padding: 0.5rem;
    }

    .metric-card.overviews {
        width: calc(100vw - 1rem);
        padding: 0;
        .overview {
            font-size: 1rem;
            align-items: flex-start;
            width: min-content;
            .value {
                font-size: 1.5rem;
            }
            .title-text {
                white-space: nowrap;
            }
        }
    }

        
    

    .viewport {
        width: 100%;
        height: 100%;
    }

    .projects {
        display: grid;
        grid-template-areas:
            "active-tasks"
            "project-progress"
            "outstanding-tasks"
            "task-completions"
            "recently-finished";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        gap: 20px;
        padding: 20px;
        padding-top: 0;
        height: 100%;
        width: 100%;
        background-color: rgb(244, 244, 244);
    }

    .progress-chart-legend {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 5px;
    }
    .legend-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-weight: 500;
        gap: 5px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        margin-top: 10px;
    }

    .legend-text {
        font-size: 14px;
        font-weight: 600;
        padding-left: 0;
    }
    
    .topics {
        display: none;
    }

    .recently-finished-list {
        overflow-y: none;
    }

    .projects {
        padding-bottom: 20px;
    }

    .header-td {
        user-select: none;
    }
    
    #add-metric-small,
    #edit-metric-order {
        .button-text {
            display: none;
        }
    }

    #view-scroll {
        display: none;
    }


}

@media (max-width: 1024px) {
    .dashboard-container {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .colspan-2 {
        grid-column: 1 / span 1;
    }


    .metric-card.overviews {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 0;
        min-height: 16rem;
        width: auto;

        .overview {
            gap: 0;

        }
    }

}
