.dashboard-container {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    padding: 10px;
    margin: 0;
    background-color: #f1f1f1;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: 10px;
}

.metric-card {
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
}