.dashboard-container {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    padding: 10px;
    margin: 0;
    background-color: var(--light-gray-bg, #f1f1f1);

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    grid-auto-rows: minmax(20vh, auto); /* minimum row height */
    gap: 10px;
}

.metric-card {
    flex: 1 0 calc(33.33% - 20px);
    margin: 10px;
    padding: 10px;
    background-color: var(--white, #fff);
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.metric-card.add-metric {
    background-color: transparent;
    box-shadow: none;
    align-items: center;
    justify-content: center;
    user-select: none;
    transition: transform 0.3s ease, background-color 0.1s ease
}

.metric-card.add-metric:active {
    transform: scale(0.99);
}

.metric-card.add-metric:hover {
    background-color: white;
    cursor: pointer;
    transition: background-color 0.1s ease-out, transform 0.05s ease-in;
}

.dashboard-options {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 5px;
    .option {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        padding: 5px;
        border-radius: 5px;
        transition: background-color 0.1s ease;
        &:hover {
            background-color: var(--light-gray-bg-hover, #e1e1e1);
            cursor: pointer;
        }
    }

    .option.selected {
        background-color: var(--light-gray-bg-hover, #e1e1e1);
        
    }

    .title {
        font-size: 1.2rem;
        font-weight: 700;
        margin-right: auto;
    }

}

/* @media (max-width: 1300px) {
    .metric-card {
        flex: 1 0 100%;
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 900px) {
    .metric-card {
        flex: 1 0 100%;
        max-width: calc(100% - 20px);
    }
} */