.dashboard-container {
    display: grid;
    gap: 10px;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding: 10px;
    margin: 0;
    background-color: var(--light-gray-bg, #f1f1f1);
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
}
.metric-card {
    position: relative;
    padding: 10px;
    background-color: var(--white, #fff);
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    .metric-title {
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .options {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 5px;
    }
}

.metric-card.add-metric {
    background-color: transparent;
    box-shadow: none;
    align-items: center;
    justify-content: center;
    user-select: none;
    transition: transform 0.3s ease, background-color 0.1s ease
}

.metric-card.add-metric:active {
    transform: scale(0.99);
}

.metric-card.add-metric:hover {
    background-color: var(--white, #fff);
    cursor: pointer;
    transition: background-color 0.1s ease-out, transform 0.05s ease-in;
    outline: 2px solid var(--box-shadow-clr);
}

.chart-box {
    flex-grow: 1;
}

.dashboard-options {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 5px;
    .option {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        padding: 5px;
        border-radius: 5px;
        transition: background-color 0.1s ease;
        &:hover {
            background-color: var(--light-gray-bg-hover, #e1e1e1);
            cursor: pointer;
        }
    }

    .option.disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    .title {
        font-size: 1.2rem;
        font-weight: 700;
        margin-right: auto;
    }

}

/* @media (max-width: 1300px) {
    .metric-card {
        flex: 1 0 100%;
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 900px) {
    .metric-card {
        flex: 1 0 100%;
        max-width: calc(100% - 20px);
    }
} */