@media (max-width: 700px) {
    .fullscreen {
        height: max(auto, (100% - 3em));
    }

    .main {
        overflow-y: auto;
    }

    .search {
        width: 100%;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 1;
        transition: opacity 0.15s ease-out;
        z-index: 1;
    }

    .hidden {
        display: flex;
        transform: translate(-50%, 100%);
        opacity: 0;
        transition: 0.1s ease-out;
    }

    .popupDialog {
        width: 400px;
    }
    

    table {
        width: 100%;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .personal-task {

        .personal-main {
            justify-content: space-between;
            min-height: 32px;
        }

        .personal-icons {
            display: none;
        }

    }

    #personals-search {
        height: 3rem;
        border-radius: 5px;
        margin-left: 0;
        width: 100%;
        max-width: 100%;

        display: none;

        .search-icon {
            margin-right: 16px;
            & span {
                font-size: 24px;
            }
        }
    }

    #mobile-search-icon {
        display: flex;

        & span {
            font-size: 24px;
        }
    }

    #mobile-search-icon:hover {
        background-color: var(--light-grey-bg);
    }

    #mobile-search-icon:active {
        background-color: white;
        transition-duration: 0.05s;
    }



    #personals-sort {
        background-color: var(--light-grey-bg);
        border-radius: 6px;
        border-bottom: none;
        transition-duration: 0.1s;
        min-width: auto;

        .dropdown-chevron {
            display: none;
        }

        .dropdown-text {
            text-align: right;
        }

        .dropdown-menu {
            width: auto;
        }
    }

    #personals-sort:active {
        background-color: white;
        transition-duration: 0.1s;
    }

    #personals-sort-direction {
        background-color: var(--light-grey-bg);
        border-radius: 6px;
        border: none;
        transition-duration: 0.1s;
    }

    #personals-sort-direction:hover {
        background-color: var(--light-grey-bg);
    }

    #personals-sort-direction:active {
        background-color: white;
        transition-duration: 0.1s;
    }

    

    #new-personal {
        display: none;
    }

    #mobile-new-personal {
        display: flex;
        margin-left: 0.25rem;
        justify-content: flex-end;
    }

    #mobile-new-personal:hover {
        background-color: var(--light-grey-bg);
    }

    #mobile-new-personal:active {
        background-color: white;
        transition-duration: 0.05s;
    }

    .title {
        white-space: nowrap;
        
    }

    #mobile-search-input.open {
        width: 100%;
        height: 100%;
        padding: 4px 16px;
        opacity: 1;
        border-bottom: solid 2px #172b4d;
        transition: opacity 0.2s ease-out;
    }

    .mobile-icons {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 48px;
        justify-content: flex-end;
        align-items: center;
    }

    .controls {
        justify-content: space-between;
        width: calc(100% - 2rem);
    }
    
    .list-container {
        margin-left: 0;
        width: 100%;
    }
    
    .tab-selector {
        overflow-x: auto;
        overflow-y: hidden;
        flex: 0 0 4rem;
    }

    .tab {
        white-space: nowrap;
    }

    #account-options {
        width: calc(100% - 1rem);
    }

    #preferences-options {
        width: calc(100% - 1rem);
    }

    #system-options {
        width: calc(100% - 1rem);
    }

    #manageusers-options {
        width: calc(100% - 1rem);
    }

    .main > .content {
        margin-top: 0;
        height: auto;
    }

    .email {
        flex-wrap: wrap;
    }

    .account-card {
        padding: 6px 1px;
    }

    .option {
        flex-wrap: wrap;

        .name {
            height: auto;
        }
    }

    .options {
        max-height: unset;
        margin-top: 0.5rem;
    }

}