.main{
    display: flex;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    width:25%;
}

.tab-selector{
    gap: 0.5em;
    display: flex;
    flex-direction: row;
    font-size: 2em;
    align-items: start;
    width:100%;
    margin-bottom: 0.6em;
    margin-left: 0.6em;
    color: var(--text-off-black, #0f0f0f);
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}

.sidebar-container{
    display: flex;
    flex-direction: row;
}

.option{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;

    .name, .value {
        display: flex;
        color: var(--text-off-black, #0f0f0f);
        font-weight: 600;
        flex-wrap: nowrap;
    }
}

.option-title{
    display:flex;
    align-items: start;
    font-weight: 600;
    font-size: 1.5em;
}