name: 'Upload to GCP Cloud Storage'

on:
  push:
    branches:
      - 'main'


jobs:
    'upload-web':
      runs-on: 'ubuntu-latest'
      permissions:
        contents: 'read'
        id-token: 'write'

      steps:
        - id: 'checkout'
          uses: 'actions/checkout@v4'
    
        - id: 'auth'
          uses: 'google-github-actions/auth@v1'
          with:
            credentials_json: '${{secrets.GCP_SERVICE_ACCOUNT}}'
    
        - id: 'upload-folder'
          uses: 'google-github-actions/upload-cloud-storage@v1'
          with:
            path: 'web'
            destination: '013.team'
            parent: false
