body {
    background-color: #f6f8fa;
    font-family: var(--font-family);
    color: #333;
}

.logo {
    text-align: center;
    margin-top: 50px;
}

.logo img {
    width: 100px;
}

.content {
    text-align: center;
    margin-top: 50px;
}

.content h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.content a {
    font-size: 1.2rem;
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}