:root {
    --border-clr: #e0e0e0;
    --icon-clr: #5f6368;
    --light-grey-bg: rgb(244,244,244);
    --task-column-border: rgba(0,0,0,0.15);
    --box-shadow-clr: rgba(0,0,0,0.15);
    --box-shadow-softer-clr: rgba(0,0,0,0.1);
    --box-shadow-heavier-clr: rgba(0,0,0,0.3);
    --selectable: rgb(0,82,204);
    --confirm-button-colour: rgb(66,116,255)
    --view-selected-bg:rgb(246,246,245);
    --text-off-black: rgb(15,15,15);
    --white: rgb(255,255,255);
    --team-leader-text-clr: rgb(47,47,47);
    --overdue-red: rgb(192,70,70);
    --add-task-border: rgb(211,211,211);

    --not-started-status-cell: rgba(245,205,188,0.7);
    --not-started-bg: rgba(252,245,242,0.7);
    --not-started-title-bg: rgb(250,222,201);
    --not-started-title-clr: rgb(73,41,14);
    --not-started-add-task-hover: rgba(250,222,201,0.47);

    --in-progress-status-cell: rgba(188,219,245,0.7);
    --in-progress-bg: rgba(241,248,251,0.7);
    --in-progress-title-bg: rgb(211,229,239);
    --in-progress-title-clr: rgb(24,51,71);
    --in-progress-add-task-hover: rgba(211,229,239,0.47);

    --finished-status-cell: rgba(188,245,188,0.7);
    --finished-bg: rgba(244,248,243,0.7);
    --finished-title-bg: rgb(219,237,219);
    --finished-title-clr: rgb(28,56,41);
    --finished-add-task-hover: rgba(219,237,219,0.47);

}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}
* {
    box-sizing: border-box;
}

.breadcrumb {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25em;
}


.breadcrumb-child {
    text-decoration: none;
    padding: 0.3em;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    line-height: 1;
    color: rgb(110,110,110);
    border-radius: 3px;
    transition: 0.1s ease-out;
}


.breadcrumb-navigator:hover {
    background-color: rgb(244,244,244);
    color: rgb(65,65,65);
}

.breadcrumb-divider {
    color: #ffaa00
}

.tooltip {
    position: relative;
    display: inline-block;
    
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: fit-content;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: #2f2f2fee;
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 0.85em;
    font-weight: 500;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;

    position: absolute;
    z-index: 999;
}

.tooltip:hover .tooltiptext {
    font-family: 'Open Sans', sans-serif;
    visibility: visible;
    opacity: 1;
}


.tooltip .tooltiptext::after {
    /* This is what displays the triangle pointer on top of the tooltip */
    content: " ";
    position: absolute;
    border-width: 5px;
}

.tooltip.under .tooltiptext {
    top: 80%;
    left: 50%;
    transform: translate(-50%);
}

.tooltip.under .tooltiptext::after{
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-style: solid;
    border-color: transparent transparent #2f2f2fcc transparent;
}

.tooltip.right .tooltiptext {
    top: 50%;
    left: 100%;
    transform: translate(0, -50%);
}

.tooltip.right .tooltiptext::after{
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-style: solid;
    border-color: transparent #2f2f2fcc transparent transparent;
}

.sidebar-container {
    display: flex;
    flex-direction: row;
    height: calc(100% - 3em);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    overflow-y: hidden;
}

.sidebar {
    top: 0;
    background-color: #fff;
    color: #1f2328;
    transition: 0.05s ease-out;
    font-size: 1.2em;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: 0.05s ease-out;
}

.sidebar-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5em;
    margin: 0.5em;
    margin-left: 0.25em;
    margin-right: 0.25em;
    text-align: center;
    border-radius: 6px;
    transition: 0.05s ease-out;
    gap: 0.5em;
    user-select: none;
    color:rgb(69, 69, 69)
}
.sidebar-item.selected {
    background-color: rgb(100,100,100, 0.1);
    border-radius: 3px !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    color: #000000;
    font-weight: 600 !important;
    border-left: 3px solid #ffc400;
    transition-duration: 0.05s;

    & span {
        color: #000000;
    
    }
}

.sidebar-item p {
    font-size: 0.8em;
}

.sidebar-item:first-child {
    margin-top: 0.25em !important;
}

.sidebar-item:last-child {
    position: absolute;
    bottom: 0.25em !important;
    margin-bottom: 0 !important;
}

.sidebar-item span {
    color: #5f6368;
}

.sidebar-item:hover {
    background-color: rgb(244,244,244);
    color: #000000;
    transition-duration: 0.05s;
    cursor: pointer;
}

.sidebar-close {
    font-size: 1.2em;
    display: flex;
    justify-content: flex-end;

}

.visible {
    align-items: stretch;
    width: 180px;
    gap: 0.5em;
    .sidebar-item {
        height: 2em;
        margin: 0;
        margin-left: 0.25em;
        margin-right: 0.5em;
        padding-right: 1.25em;
        font-weight: 500;
        border-radius: 3px;
    }

}

.fade {
    opacity: 0 !important;
    transition: 0.1s ease-out !important;
}

.fade-500ms {
    opacity: 0 !important;
    transition: 0.5s ease-out !important;
}

.fade-1000ms {
    opacity: 0 !important;
    transition: 1s ease-in-out !important;
}

.flash {
    animation: flash 0.1s ease-out;
}

@keyframes flash {
    0% {
        filter: opacity(0);
    }
    100% {
        filter: opacity(1);
    }
}

.norender {
    display: none !important;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    transition: 0.05s ease-out;
    overflow: hidden;
}

.fullscreen {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.user-both {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.2em;
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 8px;
    transition: 0.1s ease-out;
}

.user-both:hover {
    background-color: rgb(244,244,244);
    color: #000000;
    transition-duration: 0.05s;
    cursor: pointer;
}

.topbar {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 100%;
    height: 3em;
    align-items: center;
    font-size: 1.1em;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    .item {
        display: flex;
        flex-direction: row;
        padding: 0.5em;
        margin-left: 0.25em;
        margin-right: 0.25em;
        text-align: center;
        border-radius: 8px;
        font-size: 1.2em;
        transition: 0.1s ease-out;
        user-select: none;
    }

    .item:hover {
        background-color: rgb(244,244,244);
        color: #000000;
        transition-duration: 0.05s;
        cursor: pointer;
    }

    .left {
        display: flex;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;
    }
    .breadcrumb {
        position: relative;
        font-size: 0.9rem;
        font-weight: 500;
        color: rgb(110,110,110);
    }

    .center {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        margin-left: 45vw;
    }

    .fullLogo {
        height: 45px;
    }

    .right {
        display: flex;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;
    }
}

#hamburger {
    cursor: pointer;
}

#workload {
    font-size: 0.95em !important;
}

button {
    padding: 0.2em;
    font: inherit;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    transition: 0.1s ease-out;
    font-weight: 600;
    font-size: 1em;
    margin: 0.5em;
    margin-left: 0.25em;
    margin-right: 0.25em;
    text-align: center;
    border: solid 2px rgba(105,112,125, 0.75);
    width: 100%;
}

button:hover {
    background-color: rgb(244,244,244);
    color: #000000;
    transition-duration: 0.05s;
    border: solid 2px black;
}

#inbox-icon {
    position: relative;
    margin-left: 0;
}

#inbox-icon::after {
    content: "";
    position: absolute;
    bottom: 7px;
    right: 6px;
    width: 10px;
    height: 10px;
    background-color: rgb(214, 83, 83);
    border-radius: 50%;
    border: solid 2px white;
}

#user-name {
    font-size: 0.85em !important;
    font-weight: 600 !important;
    margin-right: 0 !important;
    color: #444444 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 0 !important;
}

#user-icon {
    margin-left: 0 !important;
    padding: 0 !important;
    margin-right: 0 !important;
}

#user-icon:hover {
    background-color: rgba(0,0,0,0) !important;
}

#user-icon img {
    width: 1.5rem !important;
    height: 1.5rem !important;
    
    border-radius: 50% !important;
    background-color: rgba(0,0,0,0) !important;
}

.edit-and-save {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    margin-left: 0.25em;
    margin-right: 0.25em;
    text-align: center;
    border-radius: 8px;
    font-size: 1.2em;
    transition: 0.1s ease-out;
    user-select: none;
    .button:hover {
        background-color: rgb(244,244,244);
        color: #000000;
        transition-duration: 0.05s;
        cursor: pointer;
    }
}

.click {
    animation: click 0.3s ease-out;
}

@keyframes click {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.click-small {
    animation: click-small 0.1s ease-out;
}

@keyframes click-small {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.99);
    }
    100% {
        transform: scale(1);
    }
}

.confirmation {
    z-index: 100;
}

::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

::-webkit-scrollbar-track {
    background: #f4f4f4
}

::-webkit-scrollbar-thumb {
    background: #aaaaaa;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #777777;
}

[contenteditable]:empty:after {
    content: attr(placeholder);
    color: #aaaaaa;
    font-weight: 400;
}

[contenteditable]:focus {
    background-color: rgba(0,0,0,0);
    outline: 1px solid #77b2eb;
    box-shadow: 0 0 0px 2px #a0bfff;
}

[contenteditable]:focus:hover {
    background-color: rgba(0,0,0,0);
    outline: 1px solid #77b2eb;
    box-shadow: 0 0 0px 2px #a0bfff;
}