.window {
    margin-left: auto;
    margin-right: auto;
    width: 24em;
    display: flex;
    flex-direction: column;
}

body {
    font-weight: 600;
    font-size: 1em;
    font-weight: 700;
}

.logo {
    width: 50%;
    text-align: center;
    border-radius: 10%;
}
.register-prompt{
    text-align: center;
    font-weight: 600;
}

.forgot-password {
    font-weight: 600;
    font-size: 0.8em;
}

.box {
    margin-left: auto;
    margin-right: auto;
    width: 24em;
    border-radius: 8px; 
    padding: 1em;
    padding-bottom: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.5em;
    margin-top: 2em; 
    margin-bottom: 2em; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 
    transition: 0.1s ease-out; 
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    
}

h1 {
    margin-top: 0.25em;
    margin-bottom: 0.5em;
}

.fullscreen {
    background-color: rgb(244, 244, 244);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

input {
    font-size: 0.95em;
    font-weight: 400;
    font-family: sans-serif;
    font-family: 'Open Sans', sans-serif;
    border: none;
    border-radius: 4px;
    padding: 0.5em;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    box-sizing: border-box;
    transition: 0.1s ease-out;
    background-color: rgb(244, 244, 244);
    box-shadow: inset 0 0 4px rgba(0,0,0,0.1);
}

#username {
    margin-bottom: 1.5em;
}

#password {
    width: 100%;
}

.textfield:hover {
    outline: 1px solid #77b2eb;
    box-shadow: 0 0 0px 2px #a0bfff;
}

.textfield:focus {
    outline: 1px solid #77b2eb;
    box-shadow: 0 0 0px 2px #a0bfff;
}

.textfield:active {
    outline: 1px solid #77b2eb;
    box-shadow: 0 0 0px 2px #a0bfff;
}


#togglePassword {
    font-size: 1.25em;
    cursor: pointer;
    margin-left: auto;
    margin-right: 0.5em;
    margin-top: -1.8em;
    z-index: 1;
}

.login-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5em;
}

#status {
    font-weight: 500;
    text-align: center;
}