@media only screen and (max-width: 600px) {

    .fullscreen {
        height: auto;
    }

    .sidebar{
        margin-left: -100%;
        position: absolute;
        z-index: 1;
        transition: 0.1s ease-out;
        border-radius: 0;
        height: 100%;
        gap: 0;
        box-shadow: 0 0 24px 12px rgba(0,0,0,0.2);

        .mobile-sidebar-header {
            display: flex;
        }
    }

    .sidebar-item {
        font-size: 1.5rem;
        
        & p {
            margin: 0;
        }
    }

    .sidebar-item:last-child {
        position: relative;
        bottom: 0;
    }

    .visible {
        margin-left: 0;
        position: absolute;
        top: 0;
        z-index: 9999;
        transition: 0.2s ease-out;
        width: min(80%, 300px);
    }
    
    .topbar {
       
        position: sticky;
        top: 0;
        z-index: 3;
        background-color: #ffffff;
        box-shadow: 0 0 4px rgba(0,0,0,0.1);

        

        .fullLogo {
            display: none;
        }

        .left {
            overflow: clip;
        }
    }

    .left-nav {
        display: none;
    }

    .right-nav {
        display: none;
    }

    .delete {
        z-index: 0;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .post {
        margin-left: 1em;
        margin-right: 1em;
    }


}