.main {
    align-items: center;
    gap: 1em;
}

input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.ql-snow * {
    box-sizing: border-box;
    max-height: 26em
}
.ql-toolbar.ql-snow{
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.12);
    width: calc(100% - 2em);
    max-width: 800px;
    border: solid 1px #e0e0e0;
}

#editor {
    height:40em;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.12);
    border-radius: 10px;
    width: calc(100% - 2em);
    max-width: 800px;
    border: solid 1px #e0e0e0;
}

.options {
    display: flex;
    justify-content: flex-start;
    gap: 2em;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5em;
    background-color: #fff;
    height: 100%;
    width: auto;
}

.type-of-post {
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    justify-content: space-between;
    justify-self: center;
    width: auto;
    font-weight: 600;
    height: 4em;
    align-items: center;
    color: #555555;
    background-color: #eeeeee;
    border-radius: 10px;
    border: solid 1px #e0e0e0;
    transition: 0.1s ease-out;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.12);
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
    cursor: pointer;
}

label {
    background-color: none;
    color: #2d2e30;
    border-radius: 6px;
    height: calc(100%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.1s ease-out;
}


input[type="radio"]:checked + label {
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #2d2e30;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.12);
    width: 100%;

}
input[type="radio"] + label {
    display: flex;
    justify-content: center;
    color: #555555;
    width: 100%;

}
.category {
    font-size: 0.9em;
    font-weight: 600;
    color: #2d2e30;
    width: 50%;
    height: 3.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: center;
    
}

.post-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 4em;
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 0;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.12);
    width: calc(100% - 2em);
    max-width: 800px;
}

.post-title i {
    font-size: 1.2em;
    color: #494b4e;
    margin-left: 0.5em;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 6em;
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    background-color: #3098ff;
    color: #2d2e30;;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.12);
    color: #ffffff;
}




input[type="text"] {
    display: block;
    width: 100%;
    height: 2.5em;
    padding: 0.5em;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #2d2e30;
}




.post-title i {
    margin-right: 5px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

.tag {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    color: #333;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-top : 5px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.12);
}

.tag i {
    margin-left: 5px;
    cursor: pointer;
}

.tag-input {
    display: inline-block;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.12);
    width: 12em;
    height: 4em;
}

.tag-input ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tag-input li {
    display: inline-block;
    color: #333;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.tag-input input[type="text"] {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
}

.tag-input input[type="text"]:focus {
    outline: none;
}

.tag-input .delete-button {
    background-color: transparent;
    border: none;
    color: #999;
    cursor: pointer;
    margin-left: 5px;
}

.avatar {
    width: 1.75em;
    height: 1.75em;
    border-radius: 50%;
    aspect-ratio: 1;
}
