.main {
    align-items: center;
    gap: 1em;
}

@media (max-height: 1000px) {
    .popover {
        position: absolute;
        bottom: 65px;
        left: -1px;
    }
}

@media (min-height: 1000px) {
    .popover {
        top: 63px;
        left: -1px;
    }
}


.popover {
    position: absolute;
    width: 25.1em;
    border: solid 1px rgba(105,112,125, 0.1);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
    background-color: white;
    display: none;
    z-index: 999;
}

.popover-header {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.employee-list {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px rgba(105,112,125, 0.1);
    padding-bottom: 5px;
    gap: 2px;
}





.show-more {
    background-color: transparent;
    justify-content: flex-start;
    color: #707070;

    margin-top: 5px;

    .button-text {
        font-size: 14px;
        font-weight: 500;
    }

}

.show-more:hover {
    background-color: #f1f2f4;
}


.search-dropdown:focus-within .popover {
    display: block;
}

.popover-content, .popover {
    .name-card {
        display: flex;
        align-items: center;
        padding: 3px 5px;
        gap: 5px;
        border-radius: 3px;
    
        font-size: 14px;
        line-height: 1;

        user-select: none;
    
        transition: background-color 0.1s ease-out;
    
        .icon {
            visibility: hidden;
            margin-left: auto;
    
            color: rgb(98, 111, 134);
            
        }
    }

    .name-card:hover {
        background-color: #f1f2f4;
        cursor: pointer;
        
    }
    
    .name-card:hover span {
        visibility: visible;
    }

    .name-card.selected {
        background-color: #317cff33;

        .icon {
            visibility: visible;
        }
    }

    .name-card.selected:hover {
        background-color: #317cff33;
    }
}

.tag-input:focus-within {
    border-color: #388bffaa;
}

.search-input {
    padding: 4px 6px;
    border: none;
    outline: none;
    background-color: transparent;
    color: inherit;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    width: 100%; /* firefox has a different default width for input elements to chrome so this is here to override it */
}

.search-input::placeholder {
    color: rgb(98, 111, 134);
    user-select: none;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    color: rgb(98, 111, 134);
    margin: 0 8px;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: 9999;
    & span {
        font-size: 16px;
        line-height: 1;
    }
}

.clear-icon {
    border-radius: 3px;
    transition: background-color 0.2s ease-in-out;
    & span {
        font-size: 14px;
    }
}

.clear-icon:hover {
    background-color: rgb(228, 230, 234);
    cursor: pointer;
}

.clear-icon:active {
    background-color: rgb(208, 212, 218);
}

/* magnifying glass / clear icon logic */
.search-input:not(:placeholder-shown) ~ .search-icon:nth-of-type(1) {
    display: none;
}
.search-input:placeholder-shown ~ .search-icon:nth-of-type(2) {
    display: none;
}

.search.white {
    color: black;
    background-color: white;
}



input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.ql-snow * {
    box-sizing: border-box;
}
.ql-toolbar.ql-snow{
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.12);
    width: calc(100% - 2em);
    max-width: 800px;
    border: solid 1px #e0e0e0;
}

#editor {
    box-shadow: 0px 0px 4px rgba(0,0,0,0.12);
    border-radius: 10px;
    width: calc(100% - 2em);
    max-width: 800px;
    border: solid 1px #e0e0e0;
}

#listOfTags{
    margin-top: 0em;
    padding-left: 1em;
    gap: 0.5em;
    overflow-x: auto;

}

.options {
    display: flex;
    justify-content: flex-start;
    gap: 2em;
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2em;
    height: 100%;
    width: auto;
    justify-content: space-between;
}

.ql-container{
    background-color: #fff;
    max-height:45%;
}

.type-of-post {
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    justify-content: space-between;
    justify-self: center;
    width: auto;
    font-weight: 600;
    height: 4em;
    align-items: center;
    color: #555555;
    background-color: #eeeeee;
    border-radius: 10px;
    border: solid 1px #e0e0e0;
    transition: 0.1s ease-out;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.12);
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
    cursor: pointer;
}

label {
    background-color: none;
    color: #2d2e30;
    border-radius: 6px;
    height: calc(100%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.1s ease-out;
}


input[type="radio"]:checked + label {
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #2d2e30;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.12);
    width: 100%;

}
input[type="radio"] + label {
    display: flex;
    justify-content: center;
    color: #555555;
    width: 100%;

}
.category {
    font-size: 0.9em;
    font-weight: 600;
    color: #2d2e30;
    width: 50%;
    height: 3.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: center;
    
}
#listOfTags {
    height: 60px;
}

.post-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 4em;
    margin-top: 1em;
    margin-bottom: 0;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.12);
    width: calc(100% - 2em);
    max-width: 800px;
}

.post-title i {
    font-size: 1.2em;
    color: #494b4e;
    margin-left: 0.5em;
}

#submitButton {
    width: 9.5em;
    white-space: nowrap;
    font-size: 0.9em;
    font-weight: 600;
    height: 4.5em;
    border-radius: 10px;
}



input[type="text"] {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5em;
    padding-left: 1em;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #2d2e30;
}

input[type="text"]:focus-within {
    outline: solid 2px #388bffaa;
    outline-offset: -1px;
}




.post-title i {
    margin-right: 5px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

.tag i {
    margin-left: 5px;
    cursor: pointer;
}

#input-tag{
    width: 25.1em;
}

.tag-input {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    position: relative;
    width: 25.1em;
    height: 4em;
    padding: 5px;

    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.12);
    background-color: #fff;
}

.tag-input ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tag-input li {
    display: inline-block;
    color: #333;
    padding: 5px 10px;

}

.tag-input input[type="text"] {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
}

.tag-input input[type="text"]:focus {
    outline: none;
}

.avatar {
    width: 1.75em;
    height: 1.75em;
    border-radius: 50%;
    aspect-ratio: 1;
}


/* quill override */
.ql-editor {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.ql-toolbar.ql-snow {
    font-family: 'Open Sans', system-ui;
}